@charset "UTF-8";
/*
 * @authors 罗敏敏 (adomin@163.com)
 * @date    2014-03-22 23:26:25
 * @文档说明
 */

#active {
	width:auto;
	height:300px;
	border:2px solid #ccc;
	font-size:12px;
}
#active h2 {
	text-indent:0;
	text-align:center;
}
#active p{
	text-align: center;
	padding:5px;
}