@CHARSET "UTF-8";
#manage_main{
	width:590px;
	height:530px;
	margin:15px;
	border:1px dashed #999;
	float:right;
}
#manage_main dl {
	width:500px;
	margin:0 auto;
	font-size:14px;
}
#manage_main dl dd {
	padding:10px 0;
	border-bottom:1px dashed #999;
}